/*
  Copyright 2017 - Valentin 'Eywek' T.
*/

/* ====
GLOBAL
==== */

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

/* ====
HEADER
==== */

header {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 100px;

  background: #000;

  width: 100%;
  overflow: hidden;
  margin-top: -80px;
  transform: skewY(-6deg);
  backface-visibility: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;

  width: 100%;
  height: 100%;

  background: url('../img/banner-v3-compressed.png');
  -webkit-filter: blur(3.8px);
  -moz-filter: blur(3.8px);
  -o-filter: blur(3.8px);
  -ms-filter: blur(3.8px);
  filter: blur(3.8px);
}

header h1.title {
  font-family: 'Raleway';
  font-weight: 400;
  color: #ecf0f1;
  font-size: 45px;

  margin-bottom: 5px;
}

header h3.subtitle {
  margin-top: 5px;

  font-family: 'Raleway';
  font-weight: 400;
  color: #bdc3c7;
  font-size: 25px;
}

header a.social {
  margin: 5px;
}

header a.social img {
  width: 32px;
  cursor: pointer;
}

header .container {
  transform: skewY(6deg);
}

/* ====
CONTENT
==== */

section {
  margin-top: -80px;
  padding-top: 180px;

  text-align: center;

  background-image: url('../img/geometry2.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}

section p {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  color: #95a5a6;
}

section p.italic {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

section h2 {
  margin-bottom: 60px;

  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: 500;
  color: #2c3e50;
  text-transform: uppercase;
}

section .technos {
  margin-top: 40px;
  margin-bottom: 100px;
}

section .technos i {
  font-size: 70px;
  margin: 5px;
}
